@font-face {
    font-family: myFirstFont;
    src: url(Technology-Bold.ttf);
}
body{
    font-family: myFirstFont;
    transition: ease-in-out .50s;
}
.texttitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.container .center{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 55%;
    height: 170px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -170px;
    border-radius: 7px;
    color: black;
    margin-left: -250px;
}
.container .center h3{
   margin-right: 20px;
   width: 60px;
   font-weight: 1000;
   font-size: 50px;
   height: 60px;
   padding-top: 15px;
   text-align: center;
   border-radius: 10px;
   background-color: white;
   margin-left: 20px;
   transition: ease-in .50s;
}



.container .center1{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 33%;
    height: 60px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -180px;
    border-radius: 7px;
    color: black;
    margin-left: -250px;
}
.container .center1 h3 ,.center3 h3 {
   margin-right: 20px;
   width: 80px;
   font-weight: 1000;
   font-size: 35px;
   height: 30px;
   padding-top: 7px;
   padding-bottom: 7px;
   text-align: center;
   border-radius: 10px;
   background-color: white;
   margin-left: 20px;
   transition: ease-in .50s;
}

.container .center h2{
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.container .center3{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    height: 60px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -180px;
    border-radius: 7px;
    color: black;
    margin-left: -250px;
}

.container .center1 h2{
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.container .center4{
    position: fixed;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    top: 90%;
    height: 200px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -180px;
    border-radius: 7px;
    color: black;
    margin-left: -250px;
}
.first{
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}
.first input{
    margin-left: 10px;
    border: none;
    width: 65px;
    cursor: pointer;
    height: 40px;
    border-radius: 7px;
    font-family: myFirstFont;
    font-size: 25px;
    font-weight: 500;
    background-color: lightcoral;
    transition: ease-in .50s;
}
.first input:hover{
    transform: scale(0.8);
}
.second{
 margin-top: -50px;
}  

.container .center4 h3{
    margin-right: 20px;
    width: 80px;
    font-weight: 1000;
    font-size: 35px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
   
    transition: ease-in .50s;
 }

