@font-face {
    font-family: myFirstFont;
    src: url(Technology-Bold.ttf);
}
body{
    font-family: myFirstFont;
}
.container .center{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 55%;
    height: 170px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -170px;
    border-radius: 4px;
    color: black;
    margin-left: -250px;
}
.container .center h3{
   margin-right: 20px;
   width: 60px;
   font-weight: 1000;
   font-size: 50px;
   height: 60px;
   padding-top: 15px;
   text-align: center;
   border-radius: 10px;
   background-color: white;
   margin-left: 20px;
   transition: .50s;
}

.container .center1{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 33%;
    height: 60px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -180px;
    border-radius: 4px;
    color: black;
    margin-left: -250px;
}
.container .center1 h3{
   margin-right: 20px;
   width: 80px;
   font-weight: 1000;
   font-size: 30px;
   height: 30px;
   padding-top: 7px;
   padding-bottom: 7px;
   text-align: center;
   border-radius: 10px;
   background-color: white;
   margin-left: 20px;
   transition: .50s;
}

.container .center h2{
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.container .center3{
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    height: 60px;
    width: 500px;
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: -180px;
    border-radius: 4px;
    color: black;
    margin-left: -250px;
}